/* Tablet */
@media (max-width: 1200px) {

    /*  Carrito y navbar */
    .cart-icon {
        border: 0px solid;
        height: 40px;
    }

    .navbar {
        gap: 10px;
    }

    .navbar-list {
        position: absolute;
        top: 65px;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        background-color: black;
        border: 2px solid #e62429;
        border-top: 0px;
        border-radius: 0px 0px 15px 15px;
        align-items: flex-start;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        display: none;
    }

    .navbar-list a {
        font-size: 18px;
    }

    /* Mostramos el icono del menu */
    .menu-label {
        display: flex;
        order: 2;
        cursor: pointer;
    }

    .menu-label img {
        height: 20px;
        width: 25px;
    }

    .open-menu {
        display: flex;
    }

    /* Hero */
    #hero{
        flex-direction: column;
        height: 1300px;
        padding: 0px;
    }
    .hero-part1 {
        width: 100%;
       height: 50%;
    }

    .hero-title {
        width: 400px;
    }
    .hero-part2 {
        height: 80vh;
        display: block;
        width: 95vw;
        border-radius: 0px;
    }

    .title-container {
        margin-top: 100px;
    }

    /* Section Information */

    .section-comprar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1500px;
    }
    .contenido{
        padding: 0px;
        align-items: center;
        justify-content: center;
    }
    .contenido h4{
        text-align: center;
        margin-bottom: 10px;
    }
    .contenido h2{
        width: 400px;
        text-align: center;
    }
    .contenido p{
        text-align: center;
    }
    .imgs-contenedor{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .contenedor-2-img{
        width: 300px;
        height: 1300px;
    }
    .contenedor-3{
        width: 100%;
    }
    .contenedor-top{
        align-items: center;
        justify-content: center;
    }
    .contenedor-top h3{
        padding: 0px;
        text-align: center;
    }
    .contenedor-top p{
        padding: 0px;
    }

    /* Carrousel */
    .carrousel {
        max-width: 90vh;
        width: 100%;
    }

    .carrousel .img-carrousel {
        margin-right: 30px;
    }

    /* Games */
    #section-games {
        margin-top: 0px;
    }
    .buttons-container{
        flex-wrap: wrap;
    }

}

/* Tablet Media scren */
@media (max-width: 1050px) {
    .hero-title {
        width: 450px;
    }
    /* Hero */
    #hero{
        flex-direction: column;
        height: 1300px;
        padding: 0px;
    }
    .hero-part1 {
        margin-top: 150px;
        width: 100%;
        height: 50%;
    }

    .hero-part2 {
        height: 50%;
        display: block;
        width: 100%;
        border-radius: 0px;
    }

    .subtitle-info {
        width: 100%;
    }

    .buttons-container {
        gap: 5px;
    }

    .carrousel {
        max-width: 65vh;
        width: 100%;
        margin-bottom: 100px;
    }

    .information-title h2 {
        text-align: center;
    }

    .carrousel .img-carrousel {
        width: 300px;
        height: 400px;
    }

    .card-img-games {
        width: 350px;
        height: 80%;
    }

    .subtitle-hero {
        text-align: center;
    }

    .disabled-mq {
        display: none;
    }
    .buttons-container {
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
    }
    .text-games-container{
        margin-bottom: 100px;
    }
    #section-games{
        margin-bottom: 0px;
    }
    #section-comics{
        margin-top: 50px;
    }
}

/* Tablet Media scren */
@media (max-width: 760px) {
    .hero-title {
        width: 450px;
    }
    /* Hero */
    #hero{
        flex-direction: column;
        height: 1300px;
        padding: 0px;
    }
    .hero-part1 {
        margin-top: 150px;
        width: 100%;
        height: 50%;
    }

    .hero-part2 {
        height: 50%;
        display: block;
        width: 100%;
        border-radius: 0px;
    }

    .subtitle-info {
        width: 100%;
    }

    .buttons-container {
        gap: 5px;
    }

    .carrousel {
        max-width: 55vh;
        width: 100%;
        margin-bottom: 100px;
    }

    .information-title h2 {
        text-align: center;
    }

    .carrousel .img-carrousel {
        width: 300px;
        height: 400px;
    }

    .card-img-games {
        width: 350px;
        height: 80%;
    }

    .subtitle-hero {
        text-align: center;
    }

    .disabled-mq {
        display: none;
    }
    .buttons-container {
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
    }
    .text-games-container{
        margin-bottom: 100px;
    }
    #section-games{
        margin-bottom: 0px;
    }
    #section-comics{
        margin-top: 50px;
    }
}

/* Celu */
@media (max-width: 576px) {

    /* Hero */
    #hero{
        flex-direction: column;
        height: 1300px;
        padding: 0px;
    }
    .hero-part1 {
        width: 100%;
       height: 50%;
       margin-bottom: 100px;
    }

    .hero-title {
        width: 400px;
    }
    .hero-part2 {
        height: 50%;
        display: block;
        width: 100%;
        border-radius: 0px;
    }

    .title-container {
        margin-top: 10px;
    }

    .subtitle-container {
        margin-top: 50px;
    }
    .contenedor-1{
        width: 100%;
    }
    .contenido h2{
        font-size: 40px;
        text-align: center;
        width: 300px;
    }
    .contenido p{
        width: 100%;
    }
    /* Information */
    #information {
        margin-top: 10px;
    }

    /*  Movies */
    .new-releases-container {
        margin-bottom: 20px;
    }

    .disabled-mq {
        display: none;
    }

    .carrousel {
        max-width: 45vh;
        width: 100%;
    }

    .carrousel .img-carrousel {
        width: 300px;
        height: 450px;
    }

    /* Games */
    #section-games {
        padding: 0px;
    }

    .text-games-container {
        height: 300px;
        justify-content: center;
        flex-direction: column;
    }

    .title-games {
        height: 150px;
        width: 100%;
        margin-bottom: 50px;
    }

    .text-games {
        height: 300px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .games-verMas {
        margin-top: 20px;
    }

    .games-card-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    .card-img-games {
        width: 190px;
        height: 220px;
    }

    .img-games {
        width: 100%;
        cursor: pointer;
        height: 100%;
    }

    .active-mq {
        display: block;
    }


    /* Comics */
    .buttons-container {
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
    }
    .category{
        width: 180px;
    }

    /* footer */
    #footer {
        flex-wrap: wrap;
        width: 100%;
    }

    .footer-1 {
        width: 100%;
    }

    .footer-2 {
        width: 35%;
    }

    .footer-3 {
        width: 35%;
    }

}

@media (max-width:515px) {
    .hero-title {
        width: 400px;
    }
    .hero-part1 {
        width: 100%;
       height: 50%;
       margin-bottom: 200px;
    }
    .carrousel {
        max-width: 40vh;
        width: 100%;
        margin-bottom: 100px;
    }

    .carrousel .img-carrousel {
        width: 240px;
        height: 355px;
        margin-right: 30px;
    }

    .card-img-games {
        width: 180px;
        height: 220px;
    }

    .information-title h2 {
        font-size: 30px;
    }
    
}

@media(max-width:375px) {
    .carrousel .img-carrousel {
        width: 200px;
        height: 310px;
    }
    .text-games{
       height: 450px;
       margin-bottom: 100px;
    }
    .games-card-container{
        height: 600px;
    }
    .card-img-games{
        width: 150px;
        height: 200px;
    }
}

@media(max-width:400px) {
    .hero-title {
        width: 320px;
    }
    .carrousel {
        max-width: 40vh;
        width: 100%;
        margin-bottom: 100px;
    }
}